h1 {
  color: #f4a6c1;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 150px;
  padding:40px 20px 40px 20px; background:beige;
}
p{ font-size: 25px;
 font-style:italic;}

img{ border-radius: 100px; }

.caption{
  text-align: center;
  font-size:110px
}
.subcaption {
  font-size: 80px;
}
.bundle {
  font-family:"Trebuchet MS", sans-serif
  
}
h2{
  font-size: 40px;
  color: #f4a6c1
}
#test{
  text-align:center;
  
}
    
